<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814003006035-acdv70ksfq926hq0kmgh4c82cjlfvtin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814003006035-acdv70ksfq926hq0kmgh4c82cjlfvtin</string>
	<key>API_KEY</key>
	<string>AIzaSyDE2CKOIrjO38YQe3NgyJPBAHZvfh2UN6U</string>
	<key>GCM_SENDER_ID</key>
	<string>814003006035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wwooss</string>
	<key>PROJECT_ID</key>
	<string>wwooss-c5a90</string>
	<key>STORAGE_BUCKET</key>
	<string>wwooss-c5a90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814003006035:ios:5b7e90702909e702cbf4a6</string>
</dict>
</plist>